:root {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  background: #eee;
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}
h1{
  color: red;
  text-align: center;
}
body{
  text-align: center;
}
#form{
  width: 90%;
  max-width: 300px;
  height: auto;
  min-height: 300px;
  margin: 10px auto;
  background: #fff;
  padding: 20px;
  text-align: left;
  &>*{
    margin: 5px;
    flex-wrap: nowrap;
  }
}